@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #f39c12;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.header__titleBx {
  width: 100%;
  background-color: #202020;
}

.header__title {
  margin: 0 auto;
  padding: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: #f5f5f5;
}

.instructionBx {
  width: 75%;
  max-width: 75ch;
  margin: 1.5rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.5);
}

.instructionBx__accroche {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
}

.instructionBx__text {
  margin: 0 auto;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.2;
}

.instructionBx__text--answer {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: #f5f5f5;
}

.instructionBx__text--bold {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.instructionBx__list {
  list-style: inside circle;
}

.instructionBx__list-item {
  margin-top: 1rem;
  line-height: 1.3;
}

.instructionBx__message {
  font-style: italic;
  font-weight: 300;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.optionBx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.optionBx__title {
  margin: 0 1rem 1rem;
  font-size: 1.5rem;
  color: #202020;
}

.diceBx {
  display: flex;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.dice {
  background-image: url('../images/dice-sprite.png');
  width: 100px !important;
  height: 100px !important;
  margin: 1em;
  background-position: center;
  box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.5);
}


#message {
  padding: 1rem 0;
  word-wrap: break-word;
  text-align: center;
  color: #f5f5f5;
  background-color: #202020;
}

.buttonBx {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.throw-inputBx {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inputBx__option {
  height: 2rem;
  margin: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.5);
}

.inputBx__btn{
  margin: 1rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBx__btn:hover, .throw-button:hover, .linkBx__link{
  background-color: #f39c12;
  color: #f5f5f5;
  fill: #f5f5f5;
}

.inputBx__btn,
.throw-button {
  width: 5rem;
  height: 10vh;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: 0 1px 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.inputBx__btn--plus {
  width: 5rem !important;
}

.inputBx {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBx__contentBx {
  display: flex;
  justify-items: center;
  align-items: center;
}

.inputBx__option {
  padding: 0 1rem;
}

.inputBx__icon--plus {
  width: 1rem;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer__credit {
  padding: 1rem;
  color: #f5f5f5;
}

.footer__link {
  color: #f5f5f5;
}

.footer__link:hover{
  text-decoration: none;
  color: #f39c12;
}

@media screen and (min-width: 600px) {
  .inputBx__btn {
    height: 2rem;
    margin: 0.5rem;
  }

  .inputBx__btn--plus {
    width: 2rem !important;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}